:root {
    --gray-bg: #f2f2f2;
    --border-color: #ddd;
}

.process-list-container {
    width: 100% ;
    margin: 10px auto;
    font-family: system-ui, -apple-system, sans-serif;
}

.filter-container, .process-list-table-container {
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
    background-color : white ;
    border-radius : 5px ;
    position: relative;
}

.filter-header {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

.filter-header p {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
}

.filter-form {
    padding: 5px 10px 10px 10px;
}

.first-row {
    display: flex;
    gap: 10px;
    margin-bottom: 0px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}
.form-group label {
    font-size : 16px ;
}



.input-daterange {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-btn {
    width: 100%;
    padding: 8px;
    background: #1a456e;
    border: none;
    cursor: pointer;
    margin-top: 5px ;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color:white;
}


.process-list-table-header{
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

.process-list-table-header p {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
}

.process-list-table {
    padding : 10px ;
    width: 100%;
    position : relative ;
}

.dz-loading-overlay{
    display: none;
    position : absolute ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity : 0.8 ;
    z-index: 2000;
}
.process-list-table-spinner{
    z-index: 2001;
    color : black ;
    height: 50px;
    width: 50px;
}


.table {
    width: 100%;
    text-align: center;    
    margin-bottom: 10px;
}

.table thead {
    background-color: #1a456e;
    color : white ;
}


.table thead th {
    padding: 10px;
    border : none ;
    font-size: 16px;
    font-weight: 600;

}

.table td {
    padding: 10px;
    font-size: 16px;
}

.table td span {
    background: var(--gray-bg);
    padding: 4px 8px;
    border-radius: 4px;
}

.process-list-table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.process-list-table-footer p{
    margin: 0px;
    font-size: 16px;
}

.process-list-table-footer label{
    font-size: 16px;
}

.process-list-table-footer .page-number {
    display: flex ;
    gap : 5px ;
    align-items: center;
}

.process-list-table-footer select {
    padding : 0px 10px; 
    width : 60px ;
}

.pagination {
    display: flex;
    gap: 5px;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    background: white;
    cursor: pointer;
}

.pagination button.active {
    background: var(--gray-bg);
}




@media (max-width: 730px) {
    .daterangepicker.show-calendar .drp-buttons{
        display: flex;
        gap: 10px;
    }
    
    .daterangepicker{
        right: 0px !important;
        top: 0px !important;
        left: auto;
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow: auto;
        margin: 0;
    }
    
    .daterangepicker .drp-calendar {
        max-width: unset;
    }
    
}
 
