.dz-process-state-container{
    display : flex ; 
    flex-direction: column;
    border: 1px solid #ddd;
    background-color: white;
    border-radius : 5px ;
    width : 100% ;
    margin-bottom : 10px ;
    font-size : 16px
}

.dz-process-state-header{
    display : flex ; 
    border-bottom : 1px solid #ddd; 
    padding : 10px ;
    width : 100% ;
}

.dz-process-state-header p{
    margin: 0;
    font-weight: 600;
    font-size: 17px;
}

.dz-process-state-body,
.dz-orders-to-submit-list-body{
    display: flex;
    width : 100% ;
    flex-direction: column;
    padding : 10px ;
}

.dz-process-key-value{
    display : flex ;
    gap : 4px ;
    margin-bottom : 10px ; 
    align-items: center;
}

.dz-badge {
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
}

.dz-process-key-value.dz-vertical-direction{
    flex-direction: column;
    align-items: start;
}

.dz-vertical-direction label{
    margin-bottom : 5px !important ;
}

.dz-process-key-value label{
    margin : 0px ;
    font-weight: 600;
}

.dz-progress-placeholder {
    height : 20px ;
    width : 100% ;
    position : relative ;
    border : 1px solid black ;
    border-radius:5px; 
    margin-bottom : 15px ;
}

.dz-progress{
    position : relative ;
    left : 0px ;
    top : 0px ;
    background-color: #1a456e;
    height : 18.5px ;
    border-radius: 4px; 
}

.dz-orders-to-submit,.dz-submitted-orders{
    position : absolute ;
    font-weight: 600;
    right: -5px;
    top : 20px ;
}

.dz-error-message-container{
    border-radius : 5px ;
    border : 1px solid rgb(145, 2, 2) ;
    background-color: rgb(249, 216, 216);
    padding : 10px ;
    width : 100% ;
}

.dz-more-detail {
    color : rgb(1, 102, 189) ;
    cursor: pointer;
}

.dz-more-detail:hover {
    color : rgb(0 131 246) ;
    border-bottom: 1px solid ;
}

.dz-error-message-detail{
    display : none ;
    margin : 0px ;
}


.dz-orders-to-submit-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius : 5px ;
}

.dz-orders-to-submit-filter-container,
.dz-orders-to-submit-list-container{
    margin : 10px ;
    border : 0.1px solid #ddd ;
    border-radius : 5px ;
}

.dz-orders-to-submit-container-header,
.dz-filter-header,
.dz-orders-to-submit-list-header
{
    display : flex ; 
    border-bottom : 1px solid #ddd; 
    padding : 10px ;
    width : 100% ;
}

.dz-orders-to-submit-container-header p,
.dz-filter-header p,
.dz-orders-to-submit-list-header p{
    margin: 0;
    font-weight: 600;
    font-size: 17px;
}

.dz-filter-form {
    width : 100% ;
    padding: 10px;
}

.dz-filter-form-first-row{
    display: flex;
    width : 100% ;
    gap: 10px;
    margin-bottom: 0px;
    width: 100%;
}
.dz-form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.dz-form-group label {
    font-size : 16px ;
}

.dz-filter-btn{
    width: 100%;
    padding: 8px;
    background: #1a456e;
    border: none;
    cursor: pointer;
    margin-top: 5px ;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color:white;
}

.dz-loading-overlay{
    display: none;
    position : absolute ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity : 0.8 ;
    z-index: 2000;
}

.dz-orders-to-submit-table-spinner{
    z-index: 2001;
    color : black ;
    height: 50px;
    width: 50px; 
}

.dz-orders-to-submit-list-body table {
    width: 100%;
    min-width: 800px;
    text-align: center;    
    margin-bottom: 10px;
}

.dz-orders-to-submit-list-body .table thead {
    background-color: #1a456e;
    color : white ;
}


.dz-orders-to-submit-list-body .table thead th {
    padding: 10px;
    border : none ;
    font-size: 16px;
    font-weight: 600;

}

.dz-orders-to-submit-list-body .table td {
    padding: 10px;
    font-size: 16px;
}

.dz-orders-to-submit-list-body .table .dz-order-detail-link{
    color : #1a456e ;
    cursor: pointer;
}

.dz-orders-to-submit-table-footer{
    display: flex;
    width : 100% ;
    justify-content: space-between;
    align-items: center;
}

.dz-orders-to-submit-table-footer p{
    margin: 0px;
    font-size: 16px;
}

.dz-orders-to-submit-table-footer label{
    font-size: 16px;
}

.dz-orders-to-submit-table-footer .dz-page-number {
    display: flex ;
    gap : 5px ;
    align-items: center;
}

.dz-orders-to-submit-table-footer select {
    padding : 0px 10px; 
    width : 60px ;
}

.dz-pagination {
    display: flex;
    gap: 5px;
}

.dz-pagination button {
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    background: white;
    cursor: pointer;
}

.dz-pagination button.active {
    background: var(--gray-bg);
}

@media (max-width: 768px) {
    .dz-filter-form-first-row{
        flex-direction: column;
    }
}


