.dz-process-detail-header {
    display: flex;
    padding : 10px ;
    background-color: #1a456e;
    margin-bottom : 10px ;
    border-radius : 5px ;
}

.dz-process-detail-header p{
    margin: 0;
    font-weight: 600;
    font-size: 17px;
    color : white ;
}

.dz-process-state-container{
    display : flex ; 
    flex-direction: column;
    border: 1px solid #ddd;
    background-color: white;
    border-radius : 5px ;
    width : 100% ;
    margin-bottom : 10px ;
    font-size : 16px
}

.dz-process-state-header{
    display : flex ; 
    border-bottom : 1px solid #ddd; 
    padding : 10px ;
    width : 100% ;
}

.dz-process-state-header p{
    margin: 0;
    font-weight: 600;
    font-size: 17px;
}

.dz-process-state-body,
.dz-order-list-body{
    display: flex;
    width : 100% ;
    flex-direction: column;
    padding : 10px  10px 0px 10px;
    overflow-x: auto;
}

.dz-process-key-value{
    display : flex ;
    gap : 4px ;
    margin-bottom : 10px ; 
    align-items: center;
}

.dz-process-key-value label{
    margin : 0px ;
    font-weight: 600;
}

.dz-badge {
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
}

.dz-process-key-value.dz-vertical-direction{
    flex-direction: column;
    align-items: start;
}

.dz-vertical-direction label{
    margin-bottom : 5px !important ;
}



.dz-progress-placeholder {
    height : 20px ;
    width : 100% ;
    position : relative ;
    border : 1px solid black ;
    border-radius:5px; 
    margin-bottom : 15px ;
}

.dz-progress{
    position : relative ;
    left : 0px ;
    top : 0px ;
    background-color: #1a456e;
    height : 18.5px ;
    border-radius: 4px; 
}

.dz-process-orders-to-submit,.dz-process-submitted-orders{
    position : absolute ;
    font-weight: 600;
    right: -5px;
    top : 20px ;
}

.dz-error-message-container{
    border-radius : 5px ;
    border : 1px solid rgb(145, 2, 2) ;
    background-color: rgb(249, 216, 216);
    padding : 10px ;
    width : 100% ;
    margin-bottom : 0px ;
}

.dz-more-detail {
    color : rgb(1, 102, 189) ;
    cursor: pointer;
    border-bottom: 1px solid ;
}

.dz-more-detail:hover {
    color : rgb(0 131 246) ;
}

.dz-error-message-detail{
    display : none ;
    margin : 0px ;
}


.dz-red-circle {
    background-color : red ;
    border-radius : 15px ;
    width : 50px ;
    height : 30px ;
}

.dz-green-circle {
    background-color : #83f40a ;
    border-radius : 15px ;
    width : 50px ;
    height : 30px ;
}

.dz-order-list-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius : 5px ;
    margin-top : 10px ;
    position : relative ;
}

.dz-order-list-container-body{
    padding : 10px 
}
.dz-order-list-container,
.dz-order-list-filter-container{
    border : 0.1px solid #ddd ;
    border-radius : 5px ;
}

.dz-order-list-container-header,
.dz-filter-header,
.dz-order-list-header
{
    display : flex ; 
    border-bottom : 1px solid #ddd; 
    padding : 10px ;
    width : 100% ;
    justify-content: space-between;
    align-items: center;
}

.dz-order-list-container-header p,
.dz-filter-header p,
.dz-order-list-header p{
    margin: 0;
    font-weight: 600;
    font-size: 17px;
}

.dz-filter-form {
    width : 100% ;
    padding: 10px;
}

.dz-filter-form-first-row{
    display: flex;
    width : 100% ;
    gap: 10px;
    margin-bottom: 0px;
    width: 100%;
}

.dz-form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.dz-form-group label {
    font-size : 16px ;
}

.dz-filter-btn{
    width: 100%;
    padding: 8px;
    background: #1a456e;
    border: none;
    cursor: pointer;
    margin-top: 5px ;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color:white;
}

.dz-loading-overlay{
    display: none;
    position : absolute ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity : 0.8 ;
    z-index: 2000;
}

.dz-order-list-table-spinner{
    z-index: 2001;
    color : black ;
    height: 50px;
    width: 50px; 
}

.dz-order-list-body table {
    width: 100%;
    min-width: 800px;
    text-align: center;    
    margin-bottom: 10px;

}

.dz-order-list-body .table thead {
    background-color: #1a456e;
    color : white ;
}


.dz-order-list-body .table thead th {
    padding: 10px;
    border : none ;
    font-size: 16px;
    font-weight: 600;

}

.dz-order-list-body .table td {
    padding: 10px;
    font-size: 16px;
}

.dz-order-list-body .table .dz-order-detail-link{
    color : #1a456e ;
    cursor: pointer;
}

.dz-order-list-body .table .dz-order-error-type-btn{
    background-color: red;
    padding: 5px 20px;
    color: white;
    outline: none;
    border-radius: 5px ;
    border : none ;
}

.dz-order-list-table-footer{
    display: flex;
    width : 100% ;
    justify-content: space-between;
    align-items: center;
    padding : 0px 10px 8px 10px ;
}

.dz-order-list-table-footer p{
    margin: 0px;
    font-size: 16px;
}

.dz-order-list-table-footer label{
    font-size: 16px;
}

.dz-order-list-table-footer .dz-page-number {
    display: flex ;
    gap : 5px ;
    align-items: center;
}

.dz-order-list-table-footer select {
    padding : 0px 10px; 
    width : 60px ;
}

.dz-pagination {
    display: flex;
    gap: 5px;
}

.dz-pagination button {
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    background: white;
    cursor: pointer;
}

.dz-pagination button.active {
    background: var(--gray-bg);
}

.dz-fixed-footer{
    width: 100%;
    padding : 10px ;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: aliceblue;
    bottom : 0px ;
    right: 0px;
}

.dz-process-terminate-btn{
    width: 200px;
    padding: 8px;
    background: #1a456e;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color:white;
}
.dz-btn-spinner-white {
    color: white;
    height: 20px;
    width: 20px;
    border-width: 3px;
}

.dz-event-popup-overlay {
    display : none ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent gray background */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2000; /* Below the popup */
}

.dz-event-popup-overlay.dz-show {
    display : block ;
    opacity: 1;
}

.dz-event-popup{
    display : none ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    z-index: 2001;
}

.dz-event-popup.dz-show{
    display : flex ;
    flex-direction: column;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.dz-event-popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px ;
    border-radius: 10px 10px 0px 0px;
    color: white ;
}
.dz-event-popup-header p{
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.dz-event-popup-header i{
    cursor : pointer ;
}

.dz-event-popup-body{
    display: flex ;
    gap :10px ;
    align-items : center;
    padding : 10px ;
}

.dz-event-popup-body .dz-event-popup-icon {
    font-size: 80px;
}

.dz-event-popup-body .fas.fa-check-circle{
    margin : 5px 0px  ;
}

.dz-event-popup-body p{
    margin : 0px ;
    font-size : 16px ;
}

.dz-bold-success{
    color : green ;
    font-weight: 600;
}

.dz-bold-error{
    color : red ;
    font-weight: 600;
}

.dz-event-popup-result-content{
    display : flex ;
    flex-direction: column;
    gap : 10px ;
}

.dz-event-popup-result-content-row{
    display : flex ;
    gap : 10px ;
    align-items: center;
}

.dz-success-icon{
    font-size : 20px ;
    color : green
}
.dz-error-icon{
    font-size : 20px ;
    color : red
}

.dz-event-popup-footer{
    display : flex ;
    justify-content: center;
    padding : 0 10px 10px 10px ; 
}

.dz-event-popup-footer button{
    border: none;
    border-radius: 5px;
    padding : 10px ;
    width: 100%;
    color :white;
    font-size: 16px;
    font-weight: 600;
}


@media (max-width: 768px) {
    .dz-filter-form-first-row{
        flex-direction: column;
    }
    .dz-process-terminate-btn{
        width : 100% ;
    }
    .dz-order-list-table-footer{
        padding : 8px  10px ;
    }

}

@media (max-width: 620px) {
    .dz-event-popup{
        width: 90%;
    }
    .dz-event-popup-body{
        flex-direction : column ;
    }
    .dz-event-popup-body p{
        text-align: center;
    }
}



