
.dz-bottom-bar{
    width: 100%;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    bottom: 0px;
    right: 0px;
    gap : 10px ;

}

.dz-action-select{
    border-width : 1px;
    padding : 10px ;
    border-radius :5px ;
    flex-grow : 1 ;
}

.dz-start-btn {
    padding: 8px;
    background: #1a456e;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    width : 20% ;
}


/* STYLING THE EVENT POPUP */
.dz-event-popup{
    display : none ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    max-height: 80%;
    z-index: 2001;
}

.dz-event-popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 10px ;
    border-radius: 10px 10px 0px 0px;
    color: white ;
}

.dz-event-popup-header p{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}

.dz-event-popup-header i{
    cursor : pointer ;
}

.dz-event-popup-body{
    display: flex ;
    gap : 20px ;
    align-items : center;
    padding : 15px 10px ;
    overflow-y: auto;
}
.dz-event-popup-body i {
    font-size: 80px;
}

.dz-event-popup-body p {
    margin-bottom : 0px ;
}

.dz-event-popup-body img {
    width : 120px ;
}

.dz-event-popup-footer{
    display : flex ;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    
}

.dz-event-popup-footer .dz-event-popup-btn{
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    color :white ;
    font-size:16px ;
}

.dz-success-badge{
    background-color: #28C20F;
    color : white ;
    border-radius: 5px;
    padding : 2px 5px ;
}

.dz-error-badge{
    background-color: #D81010;
    color : white ;
    border-radius: 5px;
    padding : 2px 5px ;
}

.dz-popup-overlay {
    display : none ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent gray background */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2000; /* Below the popup */
}

.dz-popup-overlay.dz-show {
    display : block ;
    opacity: 1;
}

.dz-popup {
    display : none ;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    width: 600px;
    max-height: 90% ;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2001; /* Ensures it's above the overlay */
}


.dz-popup-body {
    overflow-y : auto ;
}

.dz-event-popup.dz-show,.dz-popup.dz-show {
    display : flex ;
    flex-direction: column;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


.dz-popup-header {
    padding: 15px 10px;
    font-size : 16px;
    background: #1a456e;
    color: white;
    border-radius : 10px 10px 0px 0px ;
    font-weight: 600;
}

.dz-popup-footer {
    width : 100% ;
    padding: 10px;
    display: flex;
    justify-content : space-between ;
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    border-radius : 0px 0px 10px 10px ;
}

.dz-continue-btn{
    width : 65% ;
    border: 0px;
    background-color: #1a456e;
    border-radius: 5px;
    font-size : 16px;
    color: white;
    padding : 5px ;
}

.dz-terminate-btn{
    width : 100% ;
    border: 0px;
    background-color: #1a456e;
    border-radius: 5px;
    font-size : 16px;
    color: white;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    padding : 5px ;
}


.dz-cancel-btn{
    width : 34% ;
    border: 0px;
    color: #1a456e;
    background-color: white;
    border : 2px solid #1a456e ;
    border-radius: 5px;
    font-size : 16px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.dz-carrier-select{
    border-width : 1px;
    width : 100% ;
    padding : 10px ;
    border-radius :5px ;
}

.dz-carrier-icon{
    width : 60% ;
    margin: 10px auto 20px auto;
}

.dz-spinner {
    color: #1a456e;
    height: 50px;
    width: 50px;
    border-width: 6px;
}

.dz-btn-spinner-white {
    color: white;
    height: 20px;
    width: 20px;
    border-width: 3px;
}

.dz-btn-spinner-blue {
    color: #1a456e;
    height: 20px;
    width: 20px;
    border-width: 3px;
}

.dz-select-carrier-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.already-submitted-and-invalid-orders-step-container{
    padding : 10px 10px 0px 10px ;
}

.dz-notice-bar {
    margin: 10px;
    margin-bottom: 0px;
    background-color: #e5f4ff;
    padding: 10px;
    border-radius: 5px;
}

.progress-of-submitting-orders-step,
.progress-of-monitoring-orders{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    padding: 0px 10px ;
}

.progress-of-submitting-orders-step p,
.progress-of-monitoring-orders p{
    margin: 0px;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}

.dz-meta-data-container{
    width : 100% ;
    margin-bottom : 10px ;
    border : 1px solid gray ;
    border-radius: 5px;
    padding : 5px ;
    display : flex ;
    flex-direction : column ;
    overflow-x: auto;
}

.dz-meta-data-header{
    width : 100% ;
    padding: 5px 0px 10px 0px;
    font-size: 15px;
    font-weight: 600;
}

.dz-meta-data-table{
    min-width: 400px;
    width : 100% ;
    text-align: center ;
    margin-bottom: 10px;
}



.dz-meta-data-table thead{
    background-color :#1f4f7a ;
    color : white ;
}

.dz-meta-data-table thead tr th{
    vertical-align: middle;
    border: none;
    font-weight: 500;
    background-color: #1f4f7a;
}

.dz-meta-data-table tbody th{
    background-color: white;
}
.dz-meta-data-table tbody tr td .dz-invalid-field-badge-container{
    display: flex;
    justify-content: center;
    gap : 5px ;
}

.dz-meta-data-table tbody tr td .dz-invalid-field-badge-container .dz-invalid-field-badge{
    background-color: red;
    color : white ;
    border-radius: 5px;
    padding : 5px 10px ;
}

.dz-order-link i {
    color: #1f4f7a;
    cursor: pointer;
}



.dz-checkbox-container {
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: white;
    border-radius: 4px;
    margin-bottom : 0px ;
}

.dz-checkbox-container input  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.dz-checkmark {
    height: 20px;
    width: 20px;
    border: 2px solid #055da2;
    border-radius: 4px;
    display: block;
    position: relative;
    transition: background-color 0.2s;
}

.dz-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 0px;
    width: 6px;
    height: 13px;
    border: solid #055da2;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.dz-checkbox-container input:checked ~ .dz-checkmark:after {
    display: block;
}




@media (max-width: 650px) {
    .dz-popup{
        width: 90%;
    }
    .dz-event-popup{
        width: 90% ;
    }
}


@media (max-width: 500px) {
    .dz-popup-footer{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .dz-cancel-btn{
        width : 100% ;
    }
    .dz-continue-btn{
        width : 100% ;
        margin-bottom : 5px ;
    }
    
    #order_grid_panel{
        margin-bottom : 110px !important;
    }

    .dz-bottom-bar{
        flex-direction : column ;
        gap : 5px ;
    }
    .dz-action-select{
        width : 100% ;
    }
    .dz-start-btn{
        width : 100% ;
    }
}



